h1 {
	font-size: 38px;
    font-family: arial;
	font-weight: bold;
	margin: 0px;
	padding: 0px;	
}

h2 {
	font-size: 12px;
    font-family: arial;
	font-weight: bold;
	margin: 0px;
	padding-top: 5px;
}

h3 {
	font-size: 10px;
    font-family: arial;
	font-weight: bold;
	color: black;
	margin: 0px;
	padding-top: 5px;
}

input[type=text] {
    background-color: white;
    border: 1px solid;
    border-color: black;
    padding: 0px 0px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: arial;
	margin: 0px;
}

input[type=file] {
	margin-top: 5px;
}

input[type=submit] {
	margin-top: 5px;
}

.onRec {
    background-color: red;
    border: none;
    color: white;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: arial;
	font-weight: bold;
	margin: 5px;
}
.offRec {
    background-color: pink;
    border: none;
    color: white;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: arial;
	font-weight: bold;
	margin: 5px;
}